@use "./base.scss";

// put your custom CSS here!

.page {
  text-align: justify;
  // overflow-x: visible; //Aucune idée à quoi ça sert. Je l'utilisais à la base, comme hidden, afin de faire un bon text wrap, mais ça n'a jamais trop marché. Le rendre visible, ou carrément l'enlever, permet à mes side-bar d'être sticky. Tant et aussi longtemps que le overflow est "hidden", le sticky ne pouvait marcher.
  // width: 100vw;
  word-break: auto-phrase; //Mon text-wrap ne marchait jamais. Les mots se retrouvaient toujours à un moment coupé avec un trait d'union pour X raisons inconnues. Mettre "auto-phrase" a permis de régler ce problème il semble.
  // overflow-wrap: normal;
  // hyphens: none;
  // white-space: normal;
  }
  
//Cette partie me permet de créer un cadre servant d'ombre au body text. Je peux ajouter ">article" après .center afin de spécifier encore plus la zone afin qu'elle prenne vraiment que la patie où le texte est écrit, plutôt que l'entièreté du centre.
@media (min-width: 601px) {
  .page>#quartz-body .center {
    grid-area: grid-center;
    //border-right: 1px none #888888;
    //border-left: 1px none #888888;
    //box-shadow: 1px 8rem 10px #888888;
    //clip-path: inset(-10px -20px 40px -20px); // Je ne comprends pas cette fonction, mais elle parvient à contrôler où l'ombre apparait. Le négatif dévoile et le positif cache. L'ordre est haut, droite, bas, gauche.
    padding: 0.5rem;
    background-color: #88888815;//Ici je change la couleur du centre de la page afin de créer un meilleur contraste de couleur. Les deux derniers chiffres déterminent l'opacité de la couleur. FF serait une opacité de 100% alors que 00 de zéro.
    }
}
  
p {
  font-size: 1.1rem;
  line-height: 1.4;
}

.page-title {
  font-size: 4rem;
}

@media (max-width: 600px) {
  .page-title {
    font-size: 2rem;
  }
  .sidebar.left {
    position: static !important;
  }
  html {
  text-align: left;
  overflow-x: hidden;
  width: 100vw;
  }
}

.article-title {
  font-size: 3rem;
}

img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
